In [1]:
#1) write a statement to print "helloworld" by using shell
"helloworld"

'helloworld'

In [2]:
#2) write a statement to print "helloworld" by using python print function
print("Helloworld")

Helloworld

In [2]:
#3) Was to initalize variable and value as 50
a=50
print(a)

50

In [3]:
#4) Was to initalize multivariable value
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [12]:
#5) Was to print the type of the data in given value
a={10,20}
type(a)

set

In [13]:
#6) Was to print the address of the memory block in given value

a={10,20}
id(a)

2696420027616

In [15]:
#7) Was to print your details,first store your details,extract the value & display it
jagath={'name':'jagath','age':'22','height':'5.8','pancard':'True'}
jagath['name']

'jagath'

In [4]:
#8) Was to swap the two values with a temporary variable
x='haii'
y='bye'
temp=x
x=y
y=temp
print(x)
print(y)

bye
haii

In [5]:
#9) Was to swap the two values without a temporary variable

m=[10,20]
n=[10,20]
m,n=n,m
print(m)
print(n)

[10, 20]
[10, 20]

In [25]:
#10) was to initalise a value and print the value, afte print the value, then reinitalise the new value tothe existing variable and display
a={'a':'jagath'}
a
a['a']
a['a']='kumar'
a

{'a': 'kumar'}

In [31]:
#11) Was to convert single to multi value data type
a=10
a=str(a)
a

'10'

In [1]:
#12) Was to concat the two multivalue data types (str,list,tuple)
str
x="hello" 
x+='world'
x

'helloworld'

In [4]:
list
y=[10,20,30]
y+=[40,50,60]
y

[10, 20, 30, 40, 50, 60]

In [30]:
tuple
s=(10,20,30)
s+=(40,50)
s

(10, 20, 30, 40, 50)

In [6]:
#13) Was to check the length of collection
s={10,20,30,40,50}
len(s)

5

In [40]:
#14) Wae to check find out the middle value of the given collection
l=[10,20,30,40]
l[len(l)//2]

30

In [14]:
#15) Was to concat the new string into starting of given string
a="how r u"
b="haii"
b+a

'haiihow r u'

In [17]:
#16) Was to concat the new string into ending of given string

a="str"
b="ing"
a=a+b
a

'string'

In [19]:
#17) Was to concat the new string into middle of given string

a="hai"
b="kumar"
c="jagath"
c=a+c+b
c

'haijagathkumar'

In [49]:
#18) Was to modify  the new character  into middle of given string
s="pyspiders"
s[len(s)//2]
s[0:len(s)//2]+"I"+s[(len(s)//2)+1:]

'pyspIders'

In [32]:
#19) Was to modify the sequence of chaaracter in given string
s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [3]:
#20) Was to replace the old character into new chaaracter in given string
s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [4]:
#21) Was to delete the specific chaaracter in given string

s="pyspiders"
s[:2]+s[3:]

'pypiders'

In [3]:
#22)was to delete sequence of characters in a given string
s='pyspiders'
print(s[:3]+s[-3:])

pysers

In [2]:
#23)was to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

hai hai are you

In [1]:
#24)was to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [5]:
#25)was to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [6]:
#26)was to concat new value into middle of given list
s=[10,10.12,True ,'hai']
s[len(s)//2:len(s)//2]=['a','b']
print(s)

[10, 10.12, 'a', 'b', True, 'hai']

In [7]:
#27)was to concat new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[2:2]=['hai']
print(s)

[10, 10.12, 'hai', True, 'hai']

In [9]:
#28)was to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

[10, True, True, 'hai']

In [ ]:
#29)was to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

In [10]:
#30)was to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

[10, 10.12, True, 'qspiders']

In [1]:
#31)wap to modify the new value into middile of list
l=[10,10.6,True,'haii']
l[len(l)//2]="hello"
print(l)

[10, 10.6, 'hello', 'haii']

In [ ]:
#32)wap to modify the first 4 positions of given list
l=[1,2,3,4,5,6,7,8]
l[0:4]=['a','b','c',]
print(l)

In [7]:
#33)wap to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [8]:
#34)wap to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [9]:
#35)wap to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [10]:
#36)wap to delete new value at startinf of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [11]:
#37)wap to delete new value in the middle of the list
s=[1,2,3,4,5,6]
print(s)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [12]:
#38)wap to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [13]:
#39)wap to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [4]:
#40)was to concat value ending of tuple
t=(10,10.12,True)
t+=(10,)
print(t)

(10, 10.12, True, 10)

In [5]:
#41)was to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:1]+('modified',))

(10, 'modified')

In [14]:
#42)was to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [15]:
#43)was to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

{50, 20, 40, 10, 30}

In [8]:
#44)was to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

{10, 30}

In [16]:
#45)was to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value
e={60:70,80:90}
d|=e
print(d) #to add multiple values at a time

{10: 20, 20: 30, 40: 50, 50: 309}
{10: 20, 20: 30, 40: 50, 50: 309, 60: 70, 80: 90}

In [17]:
#46)was to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

{10: 20, 40: 50}

In [20]:
#47)was to specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

{10: 200, 20: 30, 40: 50}

In [11]:
#48)was to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

[10, 10.12, True, 'string', 'a', 'b']

In [19]:
#49)was to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

[10, 10.12, True, 'string', 'a', 'b']

In [21]:
# 50 to concat list and tuple by using the compound assignment

l=[10,20,30,40]
l+=("a","b","c","d")
print(l)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [14]:
# 51 to check given number is divisible by the 3

n=9
print(n%3==0)

True

In [15]:
#52 to check the given number is diisible by 2 and 6

n=21
n%2==0 and n%6==0


n=24
n%2==0 and n%6==0

True

In [21]:
# 53 to extract the last digit of the number and check it is divisible by 3

n=1997
rem=n%10
rem%3==0

n=1996
rem=n%10
rem%3==0

True

In [17]:
# 54 to extract the the last int by using the type casting

s=2029
n=str(s)
print(int(n[-1]))

9

In [18]:
# 55 to check the given number is greater than 150

n=151
n>150

n=140
n>150

False

In [20]:
# 56 to check the given number is greater than or equal to 100

n=100
n>=100

s=132
s>=100

a=99
a>=100

False

In [16]:
# 57 to check the given number is greater than 16 and less than 24

n=20
n>16 and n<24
#true

n=25
n>16 and n<24
#false

n=23
16<n<24
#true

True

In [23]:
# 58 to check the number is less than or equal to 100

n=100
n<=100
#true

n=101
n<=100
#false

n=90
n<=100
#true

True

In [24]:
# 59 to check the given is is even

n=121
n%2==0
#false

n=256
n%2==0
#true

True

In [25]:
# 60 to check the number is odd

n=233
n%2!=0
#true

n=122
n%2!=0
#false

False

In [27]:
# 62 to perform the replication of the string

a="str"
print(a*5)

a=[10,20,30]
print(a*5)

a=("a","b","c")
print(a*4)

strstrstrstrstr
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [30]:
# 63 to check the given number is greater than 22 and divisible by 3

n=29
n>22 and n%3==0
#false

s=24
s>22 and s%3==0
#true

True

In [28]:
# 64 to check the length of the collection is even or not

s="python is a programming language"
len(s)%2==0
#true


s=[1,2,3,4,5,6,90]
len(s)%2==0
#false

False

In [29]:
# 65 to perform the length of the collection is less than 55 and greater than 16

s="python is a highlevel programming language"
len(s)>16 and len(s)<55

22<len(s)<55

True

In [ ]:
# 66 to perform the the given collection is divisible by 5 and it is odd

s="python is a programming language"
len(s)%5==0 and len(s)%2!=0
#false

t="programming lan"
print(len(t))
len(t)%5==0 and len(t)%2!=0
#true

In [ ]:
# 67 to extract the middle position of the given collection and either it is (str,list,tuple)

l="hello"
l=len(l)//2
type(l)

In [ ]:
#68 to check the given number is greater than 30 and less than 20 and divisible by 2

n=25
20<n<30 and n%2==0
#false
 
n=28
20<n<30 and n%2==0

In [35]:
# 69 to check the number is less than 120 and even

n=108
n<120 and n%2==0 
#true

n=153
n<120 and n%2==0
#false

False

In [ ]:
# 70 to check the number is even and present between 40 and 70

n=56
40<n<70 and n%2==0
#true

n=61
40<n<70 and n%2==0
#false

In [ ]:
# 71 to check the number is odd and greater than 97
n=101
n>97 and n%2!=0

In [33]:
# 72 to check the number is greater than 46 and less than 122 and divisible by 4

n=72
a=46<n<122 and n%4==0
print(a)

n=45
a=46<n<122 and n%4==0
print(a)

True
False

In [34]:
# 73 to check the given number is divisible by both 3 and 5,display value

n=30
a=n%3==0 and n%5==0
print(a)

n=39
b=n%3==0 and n%5==0
print(b)

True
False

In [32]:
#74 to check the number between 100 and 200 including the limit

n=141
a=100<n<200
print(a)

True

In [31]:
#75 to check the number between 100 and 200 

n=41
a=100<n<200
print(a)

n=191
a=100<n<200
print(a)

False
True

In [40]:
#76) Write a equation to check the given string last character ASCII value should be divisible by 5 or not 
s='apple'
print(ord(s[-1])%5==0)
s='appld'
print(ord(s[-1])%5==0)

False
True

In [9]:
#77) Wae to check the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and last digit should greater than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10>9)

False

In [10]:
#78)Wae to check the given number is even or lessthan 25
n=26
print(n%2==0 or n <25)
n=23
print(n%2==0 or n <25)
n=49
print(n%2==0 or n <25)

True
True
False

In [1]:
#79) Wae to check the given number is even or greater than 25
n=24
print(n%2==0 or n>25)
n=27
print(n%2==0 or n>25)
n=21
print(n%2==0 or n>25)

True
True
False

In [2]:
#80) Wae to check the given number is divisible by either 3 or 5
n=9
print(n%3==0 or n%5==0)
n=20
print(n%3==0 or n%5==0)
n=16
print(n%3==0 or n%5==0)

True
True
False

In [4]:
#81) Wae to check the given number is not an even number
n=5
print(n%2!=0)
n=5
print(n%2!=0)

True
True

In [5]:
#82) Wae to check the given number is not an odd number
n=10
print(n%2==0)
n=11
print(n%2==0)

True
False

In [30]:
#83) Wae to check the given number is not a divisible by 3
n=9
print(n%3!=0)
n=8
print(n%3==0)

False
False

In [28]:
#84) Wae to check the given number is not divisible by 3 and 5
n=15
print(n%3!=0 and n%5!=0)
n=16
print(n%3!=0 and n%5!=0)

False
True

In [36]:
#85) Wae to check the given number is not divisible by 3 or 5
n=30
print(n%3!=0 or n%5!=0)
n=9
print(n%3==0 or n%5!=0)

False
True

In [ ]:
char='A'
print(ord(char)%5!=0)
char='B'
print(ord(char)%5!=0)

In [ ]:
#87) Wae to check find out the ascii character in a given number
n=65
print(chr(n))
n=48
print(chr(n))

n=97
print(chr(n))

n=59
print(chr(n))

A
0
a
;

In [ ]:
#88) Wae to check find out the ascii value in a given character
ch=';'
ord(ch)

59

In [ ]:
#89) Wae to check given character is uppercase or not
ch='G'
'A'<=ch and ch<='Z'

True

In [ ]:
#90) Wae to check the given character is lower case or not
ch='a'
'a'<=ch<='z'

True

In [ ]:
#91) Wae to check given character is the alphabet
ch='s'
'A'<=ch<='z' or 'a'<=ch<='z'

True

In [ ]:
#92) Wae to check given character is the ascii number
ch='5'
'0'<=ch<'9'

True

In [ ]:
#93) wae to check given character is the special
ch='$'
print ('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
print (not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))

True
False

In [ ]:
#94) Wae to check given character should not be uppercase
ch='a'
not('A'<=ch and ch<='Z')

True

In [ ]:
#95) Wae to check given character should not be lowercase
ch='G'
not('a'<=ch and ch<='z')

True

In [ ]:
#96) Wae to check given character should not be alphabet
ch='0'
not('A'<=ch<='z' or 'a'<=ch<='z')

True

In [37]:
#97) Wae to check given character should not be ascii number
ch='a'
print(not(ord(ch)>=48 and ord(ch)<=57))

True

In [1]:
#98) wae to check given character should not be special character

ch='@'
print(not(0<=ord(ch)<47 or 58<=ord(ch)<=96 or 123<=ord(ch)<=127))

ch='a'
print(not(0<=ord(ch)<47 or 58<=ord(ch)<=96 or 123<=ord(ch)<=127))

False
True

In [2]:
#99) Wae to check the given character is ovel
ch='A'
print (ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a'  or ch=='e'  or ch=='i'  or ch=='o'  or ch=='u')
ch='B'
print (ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a'  or ch=='e'  or ch=='i'  or ch=='o'  or ch=='u')

True
False

In [3]:
#100) Wae to check the given character is consonant
ch='g'
print(not(ch in "AEIOUaeiou"))

True