In [1]:
#1) write a statement to print "helloworld" by using shell
"helloworld"

'helloworld'

In [2]:
#2) write a statement to print "helloworld" by using python print function
print("Helloworld")

Helloworld

In [2]:
#3) Was to initalize variable and value as 50
a=50
print(a)

50

In [3]:
#4) Was to initalize multivariable value
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [12]:
#5) Was to print the type of the data in given value
a={10,20}
type(a)

set

In [13]:
#6) Was to print the address of the memory block in given value

a={10,20}
id(a)

2696420027616

In [15]:
#7) Was to print your details,first store your details,extract the value & display it
jagath={'name':'jagath','age':'22','height':'5.8','pancard':'True'}
jagath['name']

'jagath'

In [4]:
#8) Was to swap the two values with a temporary variable
x='haii'
y='bye'
temp=x
x=y
y=temp
print(x)
print(y)

bye
haii

In [5]:
#9) Was to swap the two values without a temporary variable

m=[10,20]
n=[10,20]
m,n=n,m
print(m)
print(n)

[10, 20]
[10, 20]

In [25]:
#10) was to initalise a value and print the value, afte print the value, then reinitalise the new value tothe existing variable and display
a={'a':'jagath'}
a
a['a']
a['a']='kumar'
a

{'a': 'kumar'}

In [31]:
#11) Was to convert single to multi value data type
a=10
a=str(a)
a

'10'

In [1]:
#12) Was to concat the two multivalue data types (str,list,tuple)
str
x="hello" 
x+='world'
x

'helloworld'

In [4]:
list
y=[10,20,30]
y+=[40,50,60]
y

[10, 20, 30, 40, 50, 60]

In [30]:
tuple
s=(10,20,30)
s+=(40,50)
s

(10, 20, 30, 40, 50)

In [6]:
#13) Was to check the length of collection
s={10,20,30,40,50}
len(s)

5

In [40]:
#14) Wae to check find out the middle value of the given collection
l=[10,20,30,40]
l[len(l)//2]

30

In [14]:
#15) Was to concat the new string into starting of given string
a="how r u"
b="haii"
b+a

'haiihow r u'

In [17]:
#16) Was to concat the new string into ending of given string

a="str"
b="ing"
a=a+b
a

'string'

In [19]:
#17) Was to concat the new string into middle of given string

a="hai"
b="kumar"
c="jagath"
c=a+c+b
c

'haijagathkumar'

In [49]:
#18) Was to modify  the new character  into middle of given string
s="pyspiders"
s[len(s)//2]
s[0:len(s)//2]+"I"+s[(len(s)//2)+1:]

'pyspIders'

In [32]:
#19) Was to modify the sequence of chaaracter in given string
s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [3]:
#20) Was to replace the old character into new chaaracter in given string
s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [4]:
#21) Was to delete the specific chaaracter in given string

s="pyspiders"
s[:2]+s[3:]

'pypiders'

In [3]:
#22)was to delete sequence of characters in a given string
s='pyspiders'
print(s[:3]+s[-3:])

pysers

In [2]:
#23)was to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

hai hai are you

In [1]:
#24)was to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [5]:
#25)was to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [6]:
#26)was to concat new value into middle of given list
s=[10,10.12,True ,'hai']
s[len(s)//2:len(s)//2]=['a','b']
print(s)

[10, 10.12, 'a', 'b', True, 'hai']

In [7]:
#27)was to concat new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[2:2]=['hai']
print(s)

[10, 10.12, 'hai', True, 'hai']

In [9]:
#28)was to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

[10, True, True, 'hai']

In [ ]:
#29)was to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

In [10]:
#30)was to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

[10, 10.12, True, 'qspiders']

In [1]:
#31)wap to modify the new value into middile of list
l=[10,10.6,True,'haii']
l[len(l)//2]="hello"
print(l)

[10, 10.6, 'hello', 'haii']

In [ ]:
#32)wap to modify the first 4 positions of given list
l=[1,2,3,4,5,6,7,8]
l[0:4]=['a','b','c',]
print(l)

In [7]:
#33)wap to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [8]:
#34)wap to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [9]:
#35)wap to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [10]:
#36)wap to delete new value at startinf of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [11]:
#37)wap to delete new value in the middle of the list
s=[1,2,3,4,5,6]
print(s)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [12]:
#38)wap to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [13]:
#39)wap to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [4]:
#40)was to concat value ending of tuple
t=(10,10.12,True)
t+=(10,)
print(t)

(10, 10.12, True, 10)

In [5]:
#41)was to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:1]+('modified',))

(10, 'modified')

In [14]:
#42)was to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [15]:
#43)was to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

{50, 20, 40, 10, 30}

In [8]:
#44)was to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

{10, 30}

In [16]:
#45)was to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value
e={60:70,80:90}
d|=e
print(d) #to add multiple values at a time

{10: 20, 20: 30, 40: 50, 50: 309}
{10: 20, 20: 30, 40: 50, 50: 309, 60: 70, 80: 90}

In [17]:
#46)was to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

{10: 20, 40: 50}

In [20]:
#47)was to specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

{10: 200, 20: 30, 40: 50}

In [11]:
#48)was to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

[10, 10.12, True, 'string', 'a', 'b']

In [19]:
#49)was to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

[10, 10.12, True, 'string', 'a', 'b']

In [21]:
# 50 to concat list and tuple by using the compound assignment

l=[10,20,30,40]
l+=("a","b","c","d")
print(l)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [14]:
# 51 to check given number is divisible by the 3

n=9
print(n%3==0)

True

In [15]:
#52 to check the given number is diisible by 2 and 6

n=21
n%2==0 and n%6==0


n=24
n%2==0 and n%6==0

True

In [21]:
# 53 to extract the last digit of the number and check it is divisible by 3

n=1997
rem=n%10
rem%3==0

n=1996
rem=n%10
rem%3==0

True

In [17]:
# 54 to extract the the last int by using the type casting

s=2029
n=str(s)
print(int(n[-1]))

9

In [18]:
# 55 to check the given number is greater than 150

n=151
n>150

n=140
n>150

False

In [20]:
# 56 to check the given number is greater than or equal to 100

n=100
n>=100

s=132
s>=100

a=99
a>=100

False

In [16]:
# 57 to check the given number is greater than 16 and less than 24

n=20
n>16 and n<24
#true

n=25
n>16 and n<24
#false

n=23
16<n<24
#true

True

In [23]:
# 58 to check the number is less than or equal to 100

n=100
n<=100
#true

n=101
n<=100
#false

n=90
n<=100
#true

True

In [24]:
# 59 to check the given is is even

n=121
n%2==0
#false

n=256
n%2==0
#true

True

In [25]:
# 60 to check the number is odd

n=233
n%2!=0
#true

n=122
n%2!=0
#false

False

In [27]:
# 62 to perform the replication of the string

a="str"
print(a*5)

a=[10,20,30]
print(a*5)

a=("a","b","c")
print(a*4)

strstrstrstrstr
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [30]:
# 63 to check the given number is greater than 22 and divisible by 3

n=29
n>22 and n%3==0
#false

s=24
s>22 and s%3==0
#true

True

In [28]:
# 64 to check the length of the collection is even or not

s="python is a programming language"
len(s)%2==0
#true


s=[1,2,3,4,5,6,90]
len(s)%2==0
#false

False

In [29]:
# 65 to perform the length of the collection is less than 55 and greater than 16

s="python is a highlevel programming language"
len(s)>16 and len(s)<55

22<len(s)<55

True

In [ ]:
# 66 to perform the the given collection is divisible by 5 and it is odd

s="python is a programming language"
len(s)%5==0 and len(s)%2!=0
#false

t="programming lan"
print(len(t))
len(t)%5==0 and len(t)%2!=0
#true

In [ ]:
# 67 to extract the middle position of the given collection and either it is (str,list,tuple)

l="hello"
l=len(l)//2
type(l)

In [ ]:
#68 to check the given number is greater than 30 and less than 20 and divisible by 2

n=25
20<n<30 and n%2==0
#false
 
n=28
20<n<30 and n%2==0

In [35]:
# 69 to check the number is less than 120 and even

n=108
n<120 and n%2==0 
#true

n=153
n<120 and n%2==0
#false

False

In [ ]:
# 70 to check the number is even and present between 40 and 70

n=56
40<n<70 and n%2==0
#true

n=61
40<n<70 and n%2==0
#false

In [ ]:
# 71 to check the number is odd and greater than 97
n=101
n>97 and n%2!=0

In [33]:
# 72 to check the number is greater than 46 and less than 122 and divisible by 4

n=72
a=46<n<122 and n%4==0
print(a)

n=45
a=46<n<122 and n%4==0
print(a)

True
False

In [34]:
# 73 to check the given number is divisible by both 3 and 5,display value

n=30
a=n%3==0 and n%5==0
print(a)

n=39
b=n%3==0 and n%5==0
print(b)

True
False

In [32]:
#74 to check the number between 100 and 200 including the limit

n=141
a=100<n<200
print(a)

True

In [31]:
#75 to check the number between 100 and 200 

n=41
a=100<n<200
print(a)

n=191
a=100<n<200
print(a)

False
True

In [40]:
#76) Write a equation to check the given string last character ASCII value should be divisible by 5 or not 
s='apple'
print(ord(s[-1])%5==0)
s='appld'
print(ord(s[-1])%5==0)

False
True

In [9]:
#77) Wae to check the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and last digit should greater than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10>9)

False

In [10]:
#78)Wae to check the given number is even or lessthan 25
n=26
print(n%2==0 or n <25)
n=23
print(n%2==0 or n <25)
n=49
print(n%2==0 or n <25)

True
True
False

In [1]:
#79) Wae to check the given number is even or greater than 25
n=24
print(n%2==0 or n>25)
n=27
print(n%2==0 or n>25)
n=21
print(n%2==0 or n>25)

True
True
False

In [2]:
#80) Wae to check the given number is divisible by either 3 or 5
n=9
print(n%3==0 or n%5==0)
n=20
print(n%3==0 or n%5==0)
n=16
print(n%3==0 or n%5==0)

True
True
False

In [4]:
#81) Wae to check the given number is not an even number
n=5
print(n%2!=0)
n=5
print(n%2!=0)

True
True

In [5]:
#82) Wae to check the given number is not an odd number
n=10
print(n%2==0)
n=11
print(n%2==0)

True
False

In [30]:
#83) Wae to check the given number is not a divisible by 3
n=9
print(n%3!=0)
n=8
print(n%3==0)

False
False

In [28]:
#84) Wae to check the given number is not divisible by 3 and 5
n=15
print(n%3!=0 and n%5!=0)
n=16
print(n%3!=0 and n%5!=0)

False
True

In [36]:
#85) Wae to check the given number is not divisible by 3 or 5
n=30
print(n%3!=0 or n%5!=0)
n=9
print(n%3==0 or n%5!=0)

False
True

In [ ]:
char='A'
print(ord(char)%5!=0)
char='B'
print(ord(char)%5!=0)

In [ ]:
#87) Wae to check find out the ascii character in a given number
n=65
print(chr(n))
n=48
print(chr(n))

n=97
print(chr(n))

n=59
print(chr(n))

A
0
a
;

In [ ]:
#88) Wae to check find out the ascii value in a given character
ch=';'
ord(ch)

59

In [ ]:
#89) Wae to check given character is uppercase or not
ch='G'
'A'<=ch and ch<='Z'

True

In [ ]:
#90) Wae to check the given character is lower case or not
ch='a'
'a'<=ch<='z'

True

In [ ]:
#91) Wae to check given character is the alphabet
ch='s'
'A'<=ch<='z' or 'a'<=ch<='z'

True

In [ ]:
#92) Wae to check given character is the ascii number
ch='5'
'0'<=ch<'9'

True

In [ ]:
#93) wae to check given character is the special
ch='$'
print ('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
print (not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))

True
False

In [ ]:
#94) Wae to check given character should not be uppercase
ch='a'
not('A'<=ch and ch<='Z')

True

In [ ]:
#95) Wae to check given character should not be lowercase
ch='G'
not('a'<=ch and ch<='z')

True

In [ ]:
#96) Wae to check given character should not be alphabet
ch='0'
not('A'<=ch<='z' or 'a'<=ch<='z')

True

In [37]:
#97) Wae to check given character should not be ascii number
ch='a'
print(not(ord(ch)>=48 and ord(ch)<=57))

True

In [1]:
#98) wae to check given character should not be special character

ch='@'
print(not(0<=ord(ch)<47 or 58<=ord(ch)<=96 or 123<=ord(ch)<=127))

ch='a'
print(not(0<=ord(ch)<47 or 58<=ord(ch)<=96 or 123<=ord(ch)<=127))

False
True

In [2]:
#99) Wae to check the given character is ovel
ch='A'
print (ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a'  or ch=='e'  or ch=='i'  or ch=='o'  or ch=='u')
ch='B'
print (ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a'  or ch=='e'  or ch=='i'  or ch=='o'  or ch=='u')

True
False

In [3]:
#100) Wae to check the given character is consonant
ch='g'
print(not(ch in "AEIOUaeiou"))

True

In [1]:
#101) Was to convert upper to lower case in a given character
ch='A'
chr(ord(ch)+32)

'a'

In [2]:
#102) Was to convert lower to upper case in a given character
ch='a'
chr(ord(ch)-32)

'A'

In [3]:
#103) Was to convert previous character in a given character
ch='B'
chr(ord(ch)-1)

'A'

In [4]:
#104) Was to convert new character in a given character
ch='B'
chr(ord(ch)+1)

'C'

In [7]:
#105) Was to check the given number is converted to ASCII value and the value is even as well as the character should be lowercase
ch='d'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<'z')
ch='e'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<'z')

True
False

In [10]:
#106) Was to check the given number is converted to ASCII value and the value is odd as well as the character should be uppercase
ch='A'
print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<'Z')

True

In [11]:
#107) Was to check the given number is converted to character is not a special symbol or not
n=58
print('A'<=chr(n)<'z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')
n=57
print('A'<=chr(n)<'z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')

False
True

In [15]:
#108) Was to check the given number of ascii character is a vowel or not
n=65
print(chr(n)in"aeiouAEIOU")
n=66
print(chr(n)in"aeiouAEIOU")

True
False

In [17]:
#109) Was to check the first and second characters are sequence or not in a string
st="ABCD"
print(ord(st[0])+1==ord(st[1]))
st="ABCD"
print(ord(st[0])==ord(st[1])-1)
st="ADCD"
print(ord(st[0])==ord(st[1])-1)

True
True
False

In [18]:
#110) Wae to check the given character ASCII value should be either greater than 50 or greater than 25 or lessthan 110
ch='0'
ord(ch)>25 or ord(ch)<112

True

In [19]:
#111) Wae to the given number is increased by 1
m=10
m+=1
print(m)
m=10
m=m+1
print(m)

11
11

In [21]:
#112) Wae to the given number is increased by 2
m=12
m+=2
print(m)
m=12
m=m+2
print(m)

14
14

In [22]:
#113) Wae to the given number is decreased by 1
m=10
m-=1
print(m)
m=10
m=m-1
print(m)

9
9

In [23]:
#114) Wae to the given number is decreased by 3
m=7
m-=3
print(m)
m=7
m=m-3
print(m)

4
4

In [24]:
#115)  Wae to check the given number is present in the collection
n=10
coll=[10,50,60,70,20]
print(n in coll)
n=100
coll=[10,50,60,70,20]
print(n in coll)

True
False

In [25]:
#116) Wae to check perform the addition operations on A value and B value and final result should be updated to 'A'
a=50
b=60
a=a+b
print(a)
a=50
b=60
a+=b
print(a)

110
110

In [26]:
#117)  Wae to check the given value is present in the collection
st='p'
coll="PYSPIDERS"
print(st in coll)
st='P'
coll="PYSPIDERS"
print(st in coll)

False
True

In [30]:
#118) Wae to check the given list is present in list
a=[10,[20,30],40]
b=[20,30]
print(b in a)
a=[10,[20,30],40]
b=10
print(b in a)
a=[10,[20,30],40]
b=[10,20]
print(b in a)

True
True
False

In [31]:
#119) Wae to check the dic value is present in dic
st=10
coll={'a':10,'b':10,'c':30}
st in coll

False

In [38]:
#120) Wae to check given value is integer value or not
b=15
print(type(15))
int
print(type(b)==int)

<class 'int'>
True

In [1]:
#121) Wae to check given value is string value or not
a='hai'
type('hai')

str

In [2]:
#122) Wae to check the given value is single value or not
c=b'1010'
type(c) in [int, float,complex,bool,bytes,type(None)]

True

In [3]:
#123) Wae to check the given value should not single value 
c=b'1010'
type(c) not in [int, float,complex,bool,bytes,type(None)]

False

In [4]:
#124) Wae to check the given value is multi value or not
c='pys'
type(c) not in [int, float,complex,bool,bytes,type(None)]

True

In [5]:
#125) Wae to check the given value is mutable or not
c='pys'
type(c) in [str,list,tuple,set,dict]

True

In [8]:
#126) Wae to check the given value is an immutable or not 
c=20
type(c) in [int, float,complex,bool,bytes,type(None)]

True

In [9]:
#127) Wae to check it a given value is divisible by 6 as well as the value present in the collection or not
n=36
n%6==0 and n in [10,26,48,36,45,105]

True

In [10]:
#128) Wae to check perform the bitwise and operation given values are 15 and 19
m=15
n=19
m&n

3

In [11]:
#129) Wae to check perform the bitwise or operation given values are 115 and 79
m=115
n=79
m|n

127

In [12]:
#130) Wae to check perform the bitwise xor operation given values are 56 and 22
m=56
n=22
m^n

46

In [14]:
#131) Wae to check perform the bitwise not operation given values is 15 
m=15
~m

-16

In [15]:
#132) Wae to check perform the bitwise left shift with 32 and skipping value is 3
m=32
n=3
m<<n

256

In [16]:
#133) Wae to check perform the bitwise right shift with 25 and skipping value is 2
m=25
n=2
m>>n

6

In [17]:
#134) To find out output of a given condition
(10+20^80 and 10**3) or ({10,20} or not ([15-16]))

1000

In [18]:
#135) Wae to check if a given key is present in a dict
d={'a':10,'haii':'bye',(100,):(10,20)}
k='a'
k in d

True

In [20]:
#136) Wae to check if a given value is present in a dict
d={'a':10,'haii':'bye',(100,):(10,20)}
k=10
print(k in d)
print(k in d.values())

False
True

In [36]:
#137) Wae to check if the key  is not present in a dict or not 
d={'a':10,'haii':'bye',(100,):(10,20)}
k='a'
print( k in d)
print( k  not in d)

True
False

In [34]:
#138) Wae to check if key value pair  is present in a dict or not
d={'a':10,'haii':'bye',(100,):(10,20)}
k=('a',10)
print(k in d.items())

True

In [29]:
#139) Wae to check if two values are pointing to same address or not
a=15
b=15
print(a is b)

True

In [30]:
#140) Wae to check both the values should be integer and both the values are pointing to same address
a=256
b=256
type(a==int) and type (b)==int and a is b

True

In [13]:
#1) Wap to check whether a number is positive, print a message positive
n=10
if(n>=0):
    print("given value is positive")

given value is positive

In [25]:
#2) Wap to display hello world if the number is greater than 1 and lesser than 5
n=3
a="helloworld"
if 1<3<5:
    print("helloworld!...")

helloworld!...

In [27]:
#3) Wap to check whether the given number is divisible by 3 or not if print fizz.
n=15
if n%3==0:
    print("Fizz..")

Fizz..

In [28]:
#4)wap to check whether given input is divisible by 2 and 6.if the condition is satisfied,convert the given number in to complex number
n=36
if n%2==0 and n%6==0:
    print(complex(imag=n))
    print(complex(real=n))
    print(complex(real=n,imag=n))

36j
(36+0j)
(36+36j)

In [5]:
#5)wap to check whether given input is divisible by 3 and 5.if the condition is satisfied,convert the given number in to list
#i/p=30
#o/p=['3','0']
n=30
if n%3==0 and n%5==0:
    n=str(n)
    print(list(n))

['3', '0']

In [38]:
#6) write a program to check whether a given number is multiple of 5 0r not
n=10
if n%5==0:
    print("given number is multiple of 5")

given number is multiple of 5

In [39]:
#7) wap to check whether the given input is 0 or not if 0 print 0.
n=0
if n==0:
    print(n)

0

In [41]:
#8) Wap to check whether a number is negative, print a message negative
n=-10
if(n<=0):
    print("given value is negative")

given value is negative

In [32]:
#9) wap to check whether a number is even or not. if even, store the value inside the list
l=[10,20,14]
n=30
if n%2==0:
    l.append(n)
    print(l)

l=[10,20,14]
n=30
if n%2==0:
    l.insert(1,n)
    print(l)

[10, 20, 14, 30]
[10, 30, 20, 14]

In [36]:
#10) wap to check whether a number is odd or not. if even, store the value inside the tuple
l=(10,20)
n=3
if n%2!=0:
    l+=(n,)
    print(l)

(10, 20, 3)

In [57]:
#11)) wap to check whether a number is even or not. if even, if it is yes to print the power of 4 in a given number
n=4
if n%2==0:
    print(4**4)

256

In [12]:
#12) WAP to take the input from the user as a number and check whether it is a number or not. if yes, 
#take the number and add some value and print it.
n=int(input(" enter number"))
if type(n) in [int,float,complex,bytes]:
    print("yes",n+1)

yes 23

In [38]:
#13) WAP to display hello world if the number is greater than 1 and less than 5. """

n=3
if 1<n<5:
    print("hello world")
n=5
if 1<n<5:
    print("hello world")

hello world

In [58]:
#14)wap to check whether given input is divisible by 5 and 7.if the condition is satisfied, to display the square of the values
n=35
if n%5==0 and n%7==0:
    print(35**2)

1225

In [43]:
#15)wap to check whether given values's last digit is greater than 5 or not. if greater , to perform the bitwise right shift operator(skipping value is 2)
n=27
if n%10>5:
    print("right shift is", n>>2)
    print("left shift is", n<<2)

right shift is 6
left shift is 108

In [66]:
#15)wap to check whether given number is divisible by 3 and and less than 30.if the condition is satisfied, to display the square of the values
n=27
if n%3==0 and n<30:
    print(27**2)

729

In [44]:
#16)wap to check whether given number is an even number and divisible by 4 a.if the condition is satisfied, to display the cube of the values
n=8
if n%2==0 and n%4==0:
    print(2**3)

8

In [46]:
#17)wap to check whether given input is divisible by 3 and 5.if the condition is satisfied,convert the given number in to list
#i/p=30
#o/p=['3','0']
l=[10,20]
n=30
if n%3==0 and n%5==0:
    l+=[n]
    print(l)

[10, 20, 30]

In [49]:
#18) Wap to check whether the given value is a negative or even number. if satisfied to display the last digit of the value 
n=24
if n%2==0 or n<0:
    print("the last digit is:",n%10)

the last digit is: 4

In [50]:
#19)wap to check whether given number is a negative or odd number and divisible by 4 a.if the condition is satisfied, to display the cube of the values
n=-4
if n<=0 and n%4==0:
    print(-4**3)

-64

In [51]:
#20) WAP to check whether a given ascii value is divisible by 4 and even value. If satisfied, to display the ascii character."""
n=100
if n%4==0 and n%2==0:
      print(chr(n))

d

In [52]:
#21) WAP to check whether a given value is present in between 45 to 125 and the number should be divisible by 4 and 5 and even value. If satisfied, to display the ascii character."""

n=120
if 45<n<125 and n%4==0 and n%5==0:
    print(chr(n))

x

In [53]:
#22) WAP to check whether a given value is present in between 25 to 100 and the number should be divisible by 4 and 5.
# If satisfied, to display multiplication of given value with 5.

n=60
if 25<n<100 and n%4==0 and n%5==0:
    print(n*5)

300

In [55]:
#23) WAP to check whether a given number is an integer and odd number. 
#If the condition is satisfied, the integer is divisible by 5 and displays the result"""
n=120
if n>0 and n%5==0:
    print(n/5)

24.0

In [15]:
#24) WAP to check whether a given value is an integer or not. 
#If integer, the given value is converted to string and displays the result."""

n=100
if n<0 or n>0:
    n=str(n)
    print(n)
    print(type(n))

100
<class 'str'>

In [20]:
#25) WAP to check whether a given value is less than 125 and greater than 60 or not. If the condition is satisfied, 
#take the name and extract the middle character and display it."""

n=100
if 60<n<125:
    ch="heelo"
    print(ch[len(ch)//2])

e

In [59]:
#26) WAP to check whether a given two integers are equal or not. If both are equal, to perform addition and display the result."""

a=10
b=10
if a==b:
    c=a+b
    print(c)

20

In [61]:
#27) WAP to check whether two values are equal or not. if equal, to perform multiplication of two numbers and that result is division by 3 and display the value. """

a=5
b=5
if a==b:
    c=a*b
    print(c)
    print(c/3)

25
8.333333333333334

In [2]:
#28) WAP to check whether a character is in the alphabet or not. If the alphabet, store the value inside the dict(key as a character and value as an ascii value)."""
d={}
ch="a"
if "a"<=ch<="z" or "A"<=ch<="Z":
    d[ch]=ord(ch)
    print(d)

d={"a":100}
ch="A"
if "a"<=ch<="z" or "A"<=ch<="Z":
    d[ch]=ord(ch)
    print(d)

{'a': 97}
{'a': 100, 'A': 65}

In [62]:
 #29) WAP to check whether a character is in the uppercase or not. If the uppercase, store the value inside the dict(key as a character and value as an ascii value)."""

d={"d":100}
ch="Z"
if "A"<=ch<="Z":
    d[ch]=ord(ch)
    print(d)

{'d': 100, 'Z': 90}

In [2]:
#30) WAP to check whether a character is in the uppercase or not. 
#If the uppercase, convert to lowercase and store the value inside the dict(character as a key and ascii value as a value)."""

d={}
ch="S"
if "A"<=ch<="Z":
    t=chr(ord(ch)+32)
    d[t]=ord(t)
    print(d)

{'s': 115}

In [63]:
#31) WAP to check whether a character is in the lowercase or not. 
#If the lowercase, to perform the replication operation on that character."""
  
ch="j"
if "a"<=ch<="z":
    print(ch*10)

jjjjjjjjjj

In [64]:
#32) WAP to check whether a character is in the ascii number or not. If the ascii number, to convert into integer."""

n="A"
if 0<=ord(n)<=127:
    print(ord(n))

65

In [65]:
#33) WAP to check whether a character is in the special symbol or not. If the special symbol, to display a symbol with ascii value."""

ch="@"
if ((0<=ord(ch)<=47 or 58<=ord(ch)<=64) or (91<=ord(ch)<=96 or 123<=ord(ch)<=127)):
    print(ord(ch))

64

In [66]:
#34) WAP to check whether a character is an even number or not. If the even number, 
#to display an even number."""

ch="B"
if ord(ch)%2==0:
    print(ord(ch))

66

In [17]:
#35) WAP to check whether a Given two integers a and b, if any of the integers is 10 or if their sum is 10, to perform the sum of the numbers and to display the square of the result."""
a=10
b=20
if a==10 or b==10 or a+b==10:
    c=a+b
    print("square",c**2)

a=5
b=5
if a==10 or b==10 or a+b==10:
    c=a+b
    print("square",c**2)

a=15
b=5
if a==10 or b==10 or a+b==10:
    c=a+b
    print("square",c**2)
print("false")

square 900
square 100
false

In [67]:
#36) WAP to check whether a character is in the vowel or not. If the vowel,print the next character."""

ch="e"
if ch in "AEIOUaeiou":
    print(chr(ord(ch)+1))

f

In [68]:
 #37) WAP to check whether a character is in the not a vowel. If it's not a vowel,print the previous character."""

ch="e"
if ch in "AEIOUaeiou":
    print(chr(ord(ch)-1))

d

In [69]:
 #38) WAP to check whether a given value is a single value data type or not. 
#If single value, display the given value as a single value data type."""

l1=[int,float,complex,bytes]
n=10.23
if type(n) in l1:
    print(type(n))

<class 'float'>

In [71]:
#39) WAP to check whether a given value is a multi-value data type or not. 
#If multi value, store the given value inside the tuple and display it."""

l1=[list,tuple,set,dict,str]
a=[1,2,3]
if type(a) in l1:
    print(type(a))

l1=[list,tuple,set,dict,str]
a={1,2,3}
if type(a) in l1:
    print("it is multi value dt",tuple(a))

<class 'list'>
it is multi value dt (1, 2, 3)

In [11]:
#40) WAP to check whether a given value is an immutable data type or not.
# If an immutable data type value, store the given value inside the set and display it."""

l1=[str,tuple]
a="str"
if type(a) in l1:
    print(set(a))

{'t', 'r', 's'}

In [12]:
#41) WAP to check whether the middle element of a given list is odd or not. 
#If it is odd then print odd then print the number else directly print the number """

l1=[1,2,3,4,5]
a=len(l1)
b=l1[a//2]
if b%2!=0:
    print("the middle element of the list is odd")

else:
    print(b)

the middle element of the list is odd
4

In [13]:
#42) WAP Return a new string with "not" prefixed to the front of the original string. 
#Return the string unmodified if the string already has the word "not" at the beginning."""

s="not string"
if s[0:3]=="not":
    print("the string is unmodified")
print(s)

s="string"
if s[0:3]=="not":
    print("the string is unmodified")
print(s)

the string is unmodified
not string
string

In [14]:
#43) WAP to check whether a given string(str) and one integer(n) value, 
#to display a new string that is devoid of the character at index n. if you are given a non-empty string and an int n. The value of n will be a legitimate character index from the original string, therefore it will fall within the range of 0 to len(str)-1, inclusive."""

str="python string"
len(str)
n=7
if n<=(len(str)-1):
    # print("nn")
    a=str[0:n]+str[n+1:]
    print(a)

str="python string"
len(str)
n=12
if n<=(len(str)-1):
    # print("nn")
    a=str[0:n]+str[n+1:]
    print(a)

python tring
python strin

In [72]:
#44) WAP to check whether the two variables are pointing to the same memory location or not if they are pointing to the same memory location then print the address of both the variables"""

a=10
b=10
if id(a)==id(b):
    print(id(a))
    print(id(b))

140716691481672
140716691481672

In [16]:
 #45)WAP to check whether the given length of the string is even or not. If the condition is satisfied, display the sequence of characters from zero position to length of collection -2."""

s="python is a programming language"
a=len(s)
if a%2==0:
    print(s[:-2])

python is a programming langua

In [73]:
#46)WAP to check whether the two given strings are having the same values or not.
# If both are not the same values then swap the values of one variable to another variable after swapping print the two values."""

s="python"
t="PYTHON"
print("before swapping")
print("s",s)
print("t",t)
if s!=t:
    temp=s
    s=t
    t=temp
    print("after swapping")
    print("s",s)
    print("t",t)

before swapping
s python
t PYTHON
after swapping
s PYTHON
t python

In [74]:
#47) WAP to check whether a given character is a special symbol or not. 
#If satisfied, store the symbol as a key and value as a ascii value of the given character inside the dictionary"""
d={}
ch="#"
print(ord(ch))
if ((0<=ord(ch)<=47 or 58<=ord(ch)<=65) or (91<=ord(ch)<=96 or 123<=ord(ch)<=127)):
    d[ch]=ord(ch)
    print(d)
print("false")

35
{'#': 35}
false
97
false
64
{'@': 64}
false

In [1]:
#48)WAP to check whether a given key is not present in the dictionary or not. 
#If the key is not present, append the new key inside the dictionary """  



d={"a":10,"b":20,"c":30}
if "d" not in d:
    d["d"]=40
    print(d)
print("false")

d={"a":10,"b":20,"c":30}
if "b" not in d:
    d["d"]=40
    print(d)
print("false")

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
false
false

In [ ]:
#49) WAP to check whether it is string, and it displays a new string with the first and last characters switched."""

s="python"
if type(s)==str:
    res=s[-1]+s[1:len(s)-1]+s[0]
print(res)

s="programming"
if type(s)==str:
    res=s[-1]+s[1:len(s)-1]+s[0]
print(res)

In [ ]:
#50) WAP to check whether the last digit should be 2 in the given number then print the last digit."""

n=252
a=n%10
if a==2:
    print("the last digit {}".format(a))
n=254
a=n%10
if a==2:
    print("the last digit {}".format(a))
print("false")

In [ ]:
#51) WAP to check whether both string collections are equal or not if it is not equal print the both strings along with the length of a string if both are equal ignore it"""

s1="programe"
s2="program"
if s1!=s2:
    print(s1,len(s1))
    print(s2,len(s2))